* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-page {
    width: 360px;
    height: 450px;
    padding-bottom: 20px;
    margin: 50px auto;
    text-align: center;
    background-color: bisque;
    box-shadow: 20px 30px rgb(95, 93, 93);
}

h2 {
    background-color: lightcoral;
    color: white;
    padding: 20px;
}

.form {
    margin-top: 20px;
}

input {
    padding: 5px 10px;
}

label {
    font-weight: 800;
}

button {
    padding: 10px 20px;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 700;
}

button:hover {
    background-color: rgb(220, 124, 92);
    color: black;
}

.message1 {
    margin-top: 20px;
}